<main class="home __flex/column/centred" id="home">

  <div class="logotype __flex">

    <div class="solid s-left __flex/centred">
      <div class="div top"></div>
      <div class="div bottom"></div>
    </div>

    <div class="solid s-right __flex/column">
      <div class="moon m-top"></div>
      <div class="moon m-bottom"></div>
    </div>

  </div>

  <h1 class="mat-display-2"> Material Easy </h1>

  <article class="welcome-text __flex/column">

    <p> Olá! Este projeto tem o intuito de ajudar pessoas que, assim como eu, gostam das possibilidades oferecidas pelo Angular Material mas, ao mesmo tempo, sofrem bastante ao tentar trabalhar com a estilização de seus componentes. </p>

    <p> Apesar de possuir uma extensa e rica Documentação, alguns dos conceitos apresentados nela me pareceram bastante confusos, sem contar que toda a parte de Tipografia simplesmente não funcionou muito bem comigo (por favor, alguém me explique o que estou fazendo de errado). Devo ressaltar que não sou fluente em inglês, as vezes a tradução que faço ou que pego da internet pode ter algumas inconsistências. Em todo caso, recomendo ver a documentação original, você pode acessá-la pelo link abaixo. </p>

    <a href="https://material.angular.io/guides"> Angular-Material: Documentação. </a>

    <p> Este projeto consiste em uma pré-configuração do Angular Material em seu modo Customizado, de uma forma que, em minha opinião, seja mais simples de separar e usufruir de seus recursos. </p>

  </article>

</main>
