// Sidenav
.mat-sidenav-container {
  .mat-sidenav-content, .mat-sidenav {
    height: 100vh;

    padding-top: 2.5rem;
    box-sizing: border-box;
  }
}

// Toolbar
.mat-toolbar {
  position: fixed;
  z-index: 999;

  &.mat-toolbar-single-row {
    max-height: 2.5rem;
  }

  // Button, Raised-Button, Stroked-Button, Flat-Button at Toolbar
  .mat-button, .mat-raised-button, .mat-stroked-button, .mat-flat-button {
    height: 100%;
    min-width: auto;
    padding: 0 1rem;
  }
}

// Button, Raised-Button, Stroked-Button, Flat-Button
.mat-button, .mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: .5rem 1rem;

  &.mat-noradius {
    border-radius: 0;
  }
}
