@use 'src/styles/material/material' as base;

.toolbar {
  gap: .5rem;

  padding: 0;

  a {
    color: base.getContrast(900);
    text-decoration: none;
  }
}

.content {
  background-color: base.getColor(50);
  color: base.getContrast(50);
}
