@use 'src/styles/material/material' as base;

.docs {
  scroll-behavior: smooth;
  height: 100%;
  overflow-y: scroll;

  justify-content: flex-start;

  padding: 1rem;
  box-sizing: border-box;

  .text {
    max-width: 1366px;
    gap: 2rem;

    padding: 2rem;
    box-sizing: border-box;

    border: solid 1px;
    border-color: transparent base.getColor();

    line-height: 1.5;

    .summary {
      line-height: 1.5;

      .item {

        &::before {
          @extend .mat-ico;
          content: 'chevron_right';
        }

        .subitem {
          @extend .item;

          text-indent: 1.5rem;
        }
      }
    }
  }

  .btn-top {
    position: fixed;

    bottom: 1.5rem;
    right: 2rem;
  }

}

#docs {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}
